<ul class="lista">
  <!-- Pregunta 1 -->
  <li class="pregunta" data-resp_id="resp_1">
    <span>¿Quienes somos?</span>
    <i class="ico_resp fas fa-angle-down"></i>
  </li>
  <li class="respuesta" id="resp_1">
    <span id="sp_resp_1">graviti® es una startup mexicana Buy Now, Pay Later (BNPL) que ofrece créditos a las familias
      no-bancarizadas en el país para que compren productos de primera necesidad, a meses, sin tarjeta ni enganche.
      Trabajamos para democratizar las compras financiadas de 7 de cada 10 mexicanas y mexicanos sin acceso a productos
      de crediticios. Hemos apoyado a más de 8,000 familias con refrigeradores, estufas, lavadoras, colchones,
      calentadores solares y más productos nuevos para sus hogares.</span>
  </li>
  <br>
  <!-- Pregunta 2 -->
  <li class="pregunta" data-resp_id="resp_2">
    <span>Estamos comprometidos con ayudar a mejorar la calidad de vida de las familias mexicanas.</span>
    <i class="ico_resp fas fa-angle-down"></i>
  </li>
  <li class="respuesta" id="resp_2">
    <span id="sp_resp_2">Además, hemos construido una red de colaboración con empresas mexicanas para ofrecerte
      productos para tu hogar de las mejores marcas y de primera calidad: más de 30 comercios graviti disponibles en
      nuestro catálogo.</span>
    <br><br>
    <span>Compra los productos que necesitas usando gravitipagos® :la manera sencilla y confiable para pagar a meses,
      sin tarjeta de crédito o débito, ni enganche. Eligiendo el tiempo de pago que te convenga: desde 12 hasta 48
      semanas. Además, con la opción de pagar de manera semanal, quincenal o mensual. ¡Fácil y seguro!</span>
    <br><br>
    <span>Paga con gravitiPagos en la tienda física o en la tienda en línea de un comercio graviti. También puedes
      hacerlo en nuestros catálogos digitales: tienda.graviti.mx o en WhatsApp.</span>
  </li>
  <!-- Pregunta 3 -->
  <li class="pregunta" data-resp_id="resp_1">
    <span>¿Necesitas ayuda?</span>
    <i class="ico_resp fas fa-angle-down"></i>
  </li>
  <li class="respuesta" id="resp_1">
    <span id="sp_resp_1">Chatea con nosotros en WhatsApp al 55-6535-0380 Estamos disponibles para ti de lunes a viernes de 9:00 AM a 8:00 PM y sábados de 9:00 AM a 6:00 PM. Descansamos los domingos.</span>
  </li>
  <br>
</ul>