<div class="container-md text-center">
  <h1 class="text-center">Selecciona una categoria</h1>
  <div class="row">
    <div class="col mx-auto d-block" >
      <div class="row">
        <a href="" class="btn2">
          <svg xmlns="http://www.w3.org/2000/svg" width="82" height="82" fill="currentColor" class="bi bi-tags-fill center-block" viewBox="0 0 16 16">
            <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
            <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"/>
          </svg>
        </a>
      </div>
      <div class="row" >
        <h4 class="text-center">Promociones</h4>
      </div>    
    </div>
    <div class="col" *ngFor="let catg of categoryList" >
      <div class="row">
        <a href="category/{{catg.id}}" class="btn2">
          <i class="{{catg.image}}"></i>
        </a>
      </div>
      <div class="row">
        <h4 class="text-center">{{catg.categoryName}}</h4>
      </div>
    </div>
  </div>
  <!-- <ul>
    <li *ngFor="let cat of subcategoryList"><a *ngIf="catg.id==cat.category" href="products/category/{{cat.id}}">{{cat.SubName}}</a></li>
  </ul> -->
</div>
<div>
  <table id="product">
    <tr class="text-center">
      <th>
        ID
      </th>
      <th>
        Nombre
      </th>
      <th>
        Borrar
      </th>
      <th>
        Actualizar
      </th>
    </tr>
    <tr class="text-center" *ngFor="let a of lista">
      <td>
        {{a.id}}
      </td>
      <td>
        {{a.categoryName}}
      </td>
      <td>
        <button type="button" class="btn btn-danger" aria-label="Left Align" (click)="borrar(a.id)">
          <i class="fa fa-minus-circle"> Borrar</i>
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-primary" (click)="actualizar(a.id)">
          <i class="fa fa-retweet"> Actualizar</i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan=3>
        Nuevo
      </td>
      <td>
        <button type="button" class="btn btn-success" (click)="nuevo()">
          <i class="fa fa-plus-circle"> Nuevo</i>
        </button>
      </td>
    </tr>
  </table>
</div>
