<div class="container-md text-center">
  <h1 class="text-center">Selecciona una categoria</h1>
  <div class="row">
    <div class="col" *ngFor="let catg of categoryList" >
      <div class="row">
        <a href="category/{{catg.id}}" class="btn2">
          <i class="{{catg.image}}" style="color: #000000;"></i>
        </a>
      </div>
      <div class="row">
        <h4 class="text-center">{{catg.categoryName}}</h4>
      </div>
    </div>
  </div>
  <!-- <ul>
    <li *ngFor="let cat of subcategoryList"><a *ngIf="catg.id==cat.category" href="products/category/{{cat.id}}">{{cat.SubName}}</a></li>
  </ul> -->
</div>
<div>
  <table id="product">
    <tr class="text-center">
      <th>
        ID
      </th>
      <th>
        Nombre
      </th>
      <th>
        Borrar
      </th>
      <th>
        Actualizar
      </th>
    </tr>
    <tr class="text-center" *ngFor="let a of lista">
      <td>
        {{a.id}}
      </td>
      <td>
        {{a.categoryName}}
      </td>
      <td>
        <button type="button" class="btn btn-danger" aria-label="Left Align" (click)="borrar(a.id)">
          <i class="fa fa-minus-circle"> Borrar</i>
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-primary" (click)="actualizar(a.id)">
          <i class="fa fa-retweet"> Actualizar</i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan=3>
        Nuevo
      </td>
      <td>
        <button type="button" class="btn btn-success" (click)="nuevo()">
          <i class="fa fa-plus-circle"> Nuevo</i>
        </button>
      </td>
    </tr>
  </table>
</div>
